[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = ">=1.0.1"
linkml-runtime = "*"
linkml-model = "*"
funowl = "*"
nmdc-schema = "*"
googlemaps = "*"
pandas = "*"
pint = "*"
quantulum3 = "*"
bioregistry = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
diskcache = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"

[dev-packages]
tox = "*"

[pipenv]
allow_prereleases = true
