[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = ">=1.0.1"

funowl = "*"
nmdc-schema = "*"
googlemaps = "*"
pandas = "*"
pint = "*"
quantulum3 = "*"
bioregistry = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
diskcache = "*"
uvicorn = {extras = ["standard"], version = "*"}
git-root = "*"

[dev-packages]
tox = "*"
autopep8 = "*"
black = "*"
pipenv-to-requirements = "*"

[pipenv]
allow_prereleases = true

linkml-runtime = "*"
linkml-model = "*"
