[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bioregistry = "*"
diskcache = "*"
funowl = "*"
git-root = "*"
googlemaps = "*"
linkml = ">=1.0.1"
nmdc-schema = "*"
pandas = "*"
pint = "*"
quantulum3 = "*"
recommonmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
autopep8 = "*"
black = "*"
pipenv-to-requirements = "*"
tox = "*"

[pipenv]
allow_prereleases = true

linkml-runtime = "*"
linkml-model = "*"
